<% if @host.operatingsystem && @host.initial_configuration_template %>
<div style="max-width: 600px">
  <%= _('For initial configuration of the host run this command:') %>
  <%= react_component('ClipboardCopy', { text: "curl #{@host.registration_url} | bash" , textareaProps: {className: 'host-init-conf-textarea', readOnly: true }})
  %>
  <%= _('Host template') %>: <%= link_to(@host.initial_configuration_template, edit_provisioning_template_path(@host.initial_configuration_template))%>
</div>
<% else %>
  <p><%= _('This host can not be configured as no registration template was set.') %></p>
<% end %>
